.heading34{
    padding-bottom:2%;
}

.project-info{
    font-size: 120%;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4%;
}

#showstatus{
    width:20%;
    height:55px;
    background-color:rgba(0, 153, 255, 0.671);
;
}

.content12{
    display:flex;
    flex-direction: column;
}
