.span_styling{margin:0 5px 0 15px}
.div_styling{
    background:rgb(247,247,247);
    margin:50px 500px 100px;
    content:'Hi';
    align-content: center;

    background:white;
    color:black;
    width:500px;
    padding:60px 75px 86px 60px;
    border-radius:6px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    box-shadow:10px 10px 40px -14px #000
}
.h2_styling{
    text-align: center;
    text-shadow: black;
    
}
.h3_styling{
    text-align: center;
    font-size: medium;
    font-family: fantasy;
}