.SearchButton{
 
  /* padding-left: 4px; */
  background-color: rgb(226, 226, 226);
  padding:7px;
  border-radius:10%;
  border:1px solid rgb(209, 209, 209);
    
}
.SearchButton:hover{
    
    cursor:pointer;
   
}

.searchBar{
    margin-left: auto;
    display:flex;
    align-items:center;
}

@media (max-width: 1200px){
    .searchBar{
        display:none;
    }
    
    .searchBarR{
        display: flex;
        
        align-items: center;
    }  
}

@media (max-width: 500px){
    .searchBarR{
       width:50%;
    }  
}
@media (min-width: 1200px){
     .searchBarR{
        display:none;
    }     
}



.navLink{
    
    font-size: 17px;
    font-weight:bold;
}



.siteTitle{
    color:rgb(32, 163, 214);
    display: center;
    font-size:25px;
    font-weight:bold;
}

.siteTitle:hover{
    color:rgb(32, 163, 214)
}

