.gigInput{
outline:none;
border:none;
}
.gigInput:hover ,.gigInputArea:hover{
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}
.gigInput:focus, .gigInputArea:hover{
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}


.gigDropdown{
    height:40px;
    padding:4px 0px 4px 4px;
    border:none;
    outline:none;
    background-color:rgb(246, 246, 246);
}


.gigDdropdown:hover{
    outline:0px;
}

.gigDropdown:focus{
    outline:0px;
}

/* .cat_subCat{
    display:flex;
    justify-content:space-between;
} */


.gigInputArea{
    width:100%;
    min-height: 180px;
    padding:10px;
    display:block;
    outline:rgb(179, 178, 178);
    border:1px solid rgb(184, 181, 181);
}