.reviewbody{

    display:flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    background-color:aliceblue;
}

.formHeading89{

    font-size:150%;
    font-family: cursive;
    color:midnightblue;
    
}

.formHeading89:hover {
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}

.formHeading89:focus{
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}

.ratings{
    color:saddlebrown;
    font-size: 120%;
    display:flex;
    flex-direction: column;
}

.reviewbtn{
    width:60%;
    background-color:cornflowerblue;
    height:50px;
}