.img_container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .img_text_centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
  }

  .img_container1 {
    position: relative;
    text-align: center;
    color: white;
    width:100%
  }
  
  .img1{
    max-height:500px;
    width:100%
  }
  
  @media (max-width:1200px){
    .img_text_centered {
      font-size: 28px;
    }
    .img1{
      max-height:400px;
    }
  }

  @media (max-width:700px){
    .img1{
      max-height:400px;
    }
    .img_text_centered {
      font-size: 20px;
    }
  
  }

  @media (max-width:500px){
    .img_text_centered {
      font-size: 17px;
    }
  }

  

  
  