#fileName{
    font-size: 90%;
    font-family: cursive;

}

.deletefile{
    margin-left: auto;
    margin-right:1%;
    width:10px;
    opacity: 0.2;
    background-color:white;
    color:rgb(134, 132, 132);
    padding-top: 2%;   
}

.deletefile:hover{
    opacity:1;
}

