.ProfileContainer{
  padding:2% 6%  
}

.profileForm{
    padding:30px 20px;
    width:400px;
    
    background-color:rgb(255, 255, 255); 
    display:flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(218, 213, 213);
    margin-top:5%;
}
.container{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0 0 8% 0;
    border-bottom:1px solid rgb(177, 172, 172);
    
}

.Header{
   display:flex;
   flex-direction: row;
   justify-content:space-between;
   align-items:center;
   
}

.editButton{
    margin:0 0 16px 0px;
    display:flex;
    flex-direction:row-reverse;
    background-color:white;
    color:rgb(32,163,214);
    padding:0;

}

.heading{
   
    color:rgb(100, 99, 160);
    font-weight: 600;
}
.descArea{
    resize:none;
    outline: none;
    border:none;
    height: 100px;
    background-color:white;
}
.descArea:focus{
    outline:none;
}


.headerContainer{
    /* background-color: rgb(238, 236, 236); */
    display:flex;
    flex-direction: column;
}

.inputField{
    height:40px;
    border:none;
    background-color:rgb(246, 245, 245)
}
.inputField:focus{
    outline: none;
}

.as{
    display:flex;
    justify-content: space-between;
}

.GigFormButton{
    position: relative;
    width:200px;
    height:30px;
    
}

@media screen and (max-width:900px)
{
    .as{
        flex-direction:column;
    }
    .GigFormButton{
        width:400px;
        height:30px;
        margin:10px 0px
        
    }
}

.PPContainer{
    display:Flex;
    flex-direction: column;
}


.error{
color:red;
padding:0px 0px 10px 5px;
}


.inlineShow{
    display:flex;
    justify-content:right;
    align-items: center;
}

p{
    margin-bottom: 3px;
}

.deleteButton{
    margin-left: auto;
    margin-right:1%;
    width:10px;
    opacity: 0.2;
    background-color:white;
    color:rgb(134, 132, 132);
    padding:0;   
}

.deleteButton:hover{
    opacity:1;
}
.UserDetails56{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:40%;
}

.SkillLevel{
    font-size:15px;
    color:rgb(149, 156, 156)
}

