.pic11{
    width:80px; 
    border-radius:50px;  
    padding:10px;
}
.userpic2{
    width:20%;
    height:60%;
    border-radius:50%;
    padding:2%;
 
}

.heading12{
    font-size:200%;
}
.heading123{
    font-size: 150%;
   
}
.staryell,#stars234{
    color:#FFBE5B;
    font-size: 120%;
}
.gigpic34{
    width:400px;
    border-radius:10px;
    border:6px solid #ddd;
    display:flex;
}/*
.carousel-inner{
    height:270px;
}
.item{
    background-size: cover;
    background-position:50% 50% ;
    width:100%;
    height:30%;
}*/
.box12{
    display:flex;
    align-items:stretch;
    align-content: space-between;

}
.box123{
    display:flex;
    flex-direction: column;
    padding-top: 2%;
}
.box1234{
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.confirmOrder{
    float:right;
    width:20%;
}
#print2{
    font-size: 120%;
    font-family: cursive;
}

.link34{
    font-size: 120%;
    color:red;
}


.rating{
    color:darkorange;
}

.box39{
    display:flex;
    align-items: center;
    align-content: center;
}
