.CardsList{
  padding:0px 10px;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  justify-content: space-around;
  align-content: space-between;
  column-gap: normal;
  /* margin:0px auto; */
    
}

@media (min-width:1550px){
    .CardsList{
        padding:0px 10px;
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
        column-gap: normal;
        margin:0px auto;
          
      }
}


.ViewallLink{
  color:rgb(0, 183, 255);
  
}
.ViewallLink:hover{
  text-decoration: none;
}
