.BankDetailsheader{
background-color:aliceblue;
display:flex;
flex-direction:column;
padding: 2%;

}

.userBank{
  align-content: center;
}


.BDhead{
    font-size: 170%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkslateblue;
    
}

.fieldinfo12{
    display: flex;
    flex-direction: column;
     color:rgba(5, 5, 5, 0.979);
    font-size: 110%;
    justify-content: space-around;
    padding:2%;
}

.bdbtn{
    width:40%;
    background-color:rgb(110, 141, 236);
    border-radius: 3%;

}
.ip23{
    width:80%;
}