.BankDetailsheader{
background-color:rgba(251, 248, 225, 0.924);
}



.BDhead{
    font-size: 150%;
    font-family: cursive;
    color:brown
}

.fieldinfo12{
    display: flex;
    flex-direction: column;
    color:midnightblue;
    font-size: 120%;
    justify-content: space-around;
    padding:2%;
}

.bdbtn{
    width:40%;
    background-color:rgb(110, 141, 236);
    border-radius: 3%;

}