.cards {
    width: 100%;
    height: auto;
}

.card {
    margin: 30px auto;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0,1);
    background-color: #fff;
    width: 18rem;
    border-radius: 4px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    float: left;
    height:380px;
    display:flex;
    flex-direction: column;
    
    
}

.card:hover{
 cursor: pointer;
}


@media (max-width: 700px){
    .card{
          width: 70%;
          height:430px
    }
    
}

/* @media (max-width: 500px){
    .card{
          height:380px;width:70%;
    }
} */


.card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
    z-index: 2;
}


.inlinefooter{
    display:flex;
    justify-content: space-between;
    color:rgb(149, 150, 150);
    align-items: center;
    padding:5px 6px;
    
    border-top: 1px solid rgb(146, 145, 145);
    margin:0px -13px;
}




.review{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:2% 0%;
    margin:0;
}

.card-body{

padding:10px 13px;
padding-bottom: 0;
height:50%
}

.card-title{
    height:40%;
    margin:0;
    padding: 0px;
    display:flex;
    align-items:center;
    font-size:17px;
}


.card-userinfo{
    display:flex;
    align-items:center;
    max-height:15%;
    
}

.card-profileImg{
    width:30px;
    height:30px;
    border-radius:50%;
    margin-right: 10px;
}

.card-username{
font-size:15px
}

.PriceTag{
    display:flex;
    align-items:center;
    font-weight:bolder;
    font-size:20px;

}



.listIcon{
    background-color:white;
    width:100%;
    height:100%;
    color:black;
    margin:0;
    padding:3px;
    outline:0;
    border:0;

}



.addList{
    height:33px;
    outline:none;
    border:0;
}

.addList:hover{
    cursor: pointer;
     color:rgb(70, 68, 68)
}

.dropdown-toggle::after {
    content: none;
}
