.formHeading12{
    font-size: 150%;
}
#message1:hover {
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}

#message1:focus{
    outline:none;
    box-shadow:2px 2px 7px rgb(185, 182, 182)
}
.dateAndTime{
    display:flex;
    flex-direction: column;
    /* font-family: fantasy; */

}

.Ptitle{
  padding: 2%;
}