footer {
    /* position: absolute; */
    text-align: center;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: black;
  }

  dl{
    margin: 40px;
  }

  hr{
    background-color: rgb(230, 211, 211);
  }


