.PhotoContainer{
  padding:40px 0%;
    width:400px;
    height:400px;
    background-color:rgb(255, 255, 255); 
    display:flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(218, 213, 213);

    
}
.image:hover{
  opacity: 0.4;
}


.avatar {
    position:relative;
    vertical-align: middle;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}
.usernameText{
  margin:5%;
  font-size: 35px;
  
}


.image{
   position:absolute;
   width: 200px;
   height:200px;
   border-radius: 50%;
}

.material-icons.md-48 { font-size: 48px;}

